{
  "singleQuote": true,
  "trailingComma": "all",
  "overrides": [
    {
      "files": ["*.spec.ts", "*.spec-int.ts", "*.spec-e2e.ts"],
      "options": {
        "printWidth": 100
      }
    }
  ]
}
